@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@500&family=Roboto&family=Rubik:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    width: 100%;
    background-color: rgb(255,255,255);
}
.dummy{
    padding-right: 12px;
}

.list-item:hover{
    color: orange;
}

.carousel{
    min-width: 100%;
    height: 260px;
    border: 2px solid #000;
    /* max-width: 100%; */
    overflow: hidden;
}

.carousel-parent{
     margin-top: 14px;
    margin-left: 130px; 

}
.carousal-card{
    width: 330px;
    height: 228px;
    border: 2px solid #000;
    margin-right: 43px;
    overflow: hidden;
}

.carousal-img:hover{
    transform: scale(1.1);
    overflow: hidden;
    transition: all 0.5s ease-out;
}
.carousal-img{
    height: 224px;
    width: 330px;
}

.myCard{
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    background: black;
    margin: 10px;
    color: white;
}
.product-container{
    /* display: flex; */
   padding: 0 10px;
   display: flex;
   overflow-x:hidden ;
   scroll-behavior: smooth;
}

.product-carousel{
     /* display: flex; */
     
     position: relative;
     overflow: hidden;
     padding: 26px;
}


/* Body */

.main-body{
    margin-top: 12px;
    background-color: rgb(251,251,251);
    margin-left: 60px;
}


/* restaurant card */
.restaurant-card{
    width: 298px;
    height: 390px;
    margin: 15px;
    padding: 20px 
}
.restaurant-card:hover{
    border: 1px solid grey;
}
.restaurant-name{
    font-size: 16px;
    padding-top: 22px;
    font-family: Montserrat;
}
.cuisines{
    font-size: 14px;
    padding-top: 3px;
    font-family: Montserrat;
    color: grey;
    padding-bottom: 12px;
}
.rating{
    color: gray;
    padding: 6px;
    font-family: Montserrat;
    font-size: 12px;
}
.distance{
    color: gray;
    padding: 6px;
    font-family: Montserrat;
    font-size: 12px;
}
.cost{
    color: gray;
    padding: 6px;
    font-family: Montserrat;
    font-size: 12px;
}
.locality{
    font-size: 15px;
    padding-top: 9px;
    font-family: Montserrat;
    color: grey;
}

hr{
    width: 262px;
    height: 2px;
    color: black;
}


/* Shimmer */

.shimmer-main{
    width: 298px;
    height: 390px;
    margin: 15px;
    padding: 20px;
    background: black;
}

.rest{
    width: 298px;
    height: 390px;
    margin: 15px;
    padding: 20px;
    background: black;
}

.shimmer-card{
    width: 298px;
    height: 390px;
    margin: 15px;
    padding: 20px ;
    background-color: grey;
}

.restaurant-list{
    margin-top: 12px;
    margin-left: 60px;
}