@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@500&family=Roboto&family=Rubik:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    width: 100%;
    background-color: rgb(255,255,255);
}
.dummy{
    padding-right: 12px;
}

.list-item:hover{
    color: orange;
}

.carousel{
    min-width: 100%;
    height: 260px;
    border: 2px solid #000;
    /* max-width: 100%; */
    overflow: hidden;
}

.carousel-parent{
     margin-top: 14px;
    margin-left: 130px; 

}
.carousal-card{
    width: 330px;
    height: 228px;
    border: 2px solid #000;
    margin-right: 43px;
    overflow: hidden;
}

.carousal-img:hover{
    transform: scale(1.1);
    overflow: hidden;
    transition: all 0.5s ease-out;
}
.carousal-img{
    height: 224px;
    width: 330px;
}

.myCard{
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    background: black;
    margin: 10px;
    color: white;
}
.product-container{
    /* display: flex; */
   padding: 0 10px;
   display: flex;
   overflow-x:hidden ;
   scroll-behavior: smooth;
}

.product-carousel{
     /* display: flex; */
     
     position: relative;
     overflow: hidden;
     padding: 26px;
}


/* Body */

.main-body{
    margin-top: 12px;
    background-color: rgb(251,251,251);
    margin-left: 60px;
}


/* restaurant card */
.restaurant-card{
    width: 298px;
    height: 390px;
    margin: 15px;
    padding: 20px 
}
.restaurant-card:hover{
    border: 1px solid grey;
}
.restaurant-name{
    font-size: 16px;
    padding-top: 22px;
    font-family: Montserrat;
}
.cuisines{
    font-size: 14px;
    padding-top: 3px;
    font-family: Montserrat;
    color: grey;
    padding-bottom: 12px;
}
.rating{
    color: gray;
    padding: 6px;
    font-family: Montserrat;
    font-size: 12px;
}
.distance{
    color: gray;
    padding: 6px;
    font-family: Montserrat;
    font-size: 12px;
}
.cost{
    color: gray;
    padding: 6px;
    font-family: Montserrat;
    font-size: 12px;
}
.locality{
    font-size: 15px;
    padding-top: 9px;
    font-family: Montserrat;
    color: grey;
}

hr{
    width: 262px;
    height: 2px;
    color: black;
}


/* Shimmer */

.shimmer-main{
    width: 298px;
    height: 390px;
    margin: 15px;
    padding: 20px;
    background: black;
}

.rest{
    width: 298px;
    height: 390px;
    margin: 15px;
    padding: 20px;
    background: black;
}

.shimmer-card{
    width: 298px;
    height: 390px;
    margin: 15px;
    padding: 20px ;
    background-color: grey;
}

.restaurant-list{
    margin-top: 12px;
    margin-left: 60px;
}

/* Restaurant Menu list */

.restaurant-card-details{
    width: 100%;
    height: 250px;
    background-color: rgb(24,26,40);
}

.restaurant-details{
    width: 420px;
}
.restaurant-menu-name{
    color: #fff;
    padding-top: 52px;
    font-size: 22px;
}

.restaurant-img{
    width: 474px;
    height: 130px;
    padding-left: 140px;
    padding-top: 35px;
    padding-right: 46px;
}

.restaurant-cuisins{
    color: #8e9192;
    padding-top: 12px;
    font-size: 14px;
}

.totalRating{
    padding-top: 8px;
    color: #8e9192;
    font-size: 12px;
}

.distances{
    color: #fff;
    padding-top: 12px;
    font-size: 13px;
    padding-left: 4px; 
}
.restaurant-rating{
    color: white;
    padding-top: 12px;
    font-size: 14px;
}
.delivery-time{
    color: #8e9192;
    padding-top: 9px;
    font-size: 13px;
    padding-left: 4px;
}

.costs{
    color: #fff;
    padding-top: 13px;
    font-size: 13px;
    padding-left: 4px;
}

.costsTwoString{
    color: #8e9192;
    padding-top: 9px;
    font-size: 13px;
    padding-left: 4px;
}

.vl{
    height: 40px;
    border-left: 1px solid gray;
    padding-bottom: 62px;
}



fieldset{
    padding: 0;
    border: 1px solid white;
    width: 340px;
    height: 150px;
    margin: 59px;
    position: relative;
}
.offers{
    color: #fff;
    /* padding: 45px; */
    font-size: 15px;
    position: absolute;
    padding-left: 47px;
    padding-top: 42px;
}

.offerType{
    color: #fff;
    padding-top: 73px;
    padding-left: 46px;
    font-size: 15px;
    position: absolute;
}

.search-bar{
    margin-top: 14px;
}
input{
    border: 2px solid white;
    width: 203px;
    height: 40px;
    padding-left: 22px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-family: Montserrat;
}

.pureVeg{
    width: 42px;
    height: 40px;
    background-color: white;
    margin-top: 14px;
    border: 2px solid white;
    margin-left: 14px;
}

.favourite{
    width: 140px;
    height: 40px;
    background-color: white;
    margin-top: 14px;
    border: 2px solid white;
    margin-left: 14px;
    font-family: Montserrat;
    padding-left: 12px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.veg-nonVeg{
    padding-left: 11px;
    padding-top: 6px;
}

.menuItems{
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.menuItems ul{
    height: 460px;
    text-align: right;
    padding-right: 32px;
    font-family: Montserrat;
    font-size: 13px;
}
ul{
    overflow:hidden; 
    overflow-y:scroll;
}
ul li:hover{
    color: orange;
    cursor: pointer;
}
.recommended{
    padding-bottom: 12px;
}
.recommended:hover{
    color: orange;
    cursor: pointer;
}

.menuItems ul li{
    padding-bottom: 12px;
}

.notFound{
    text-align: right;
    height: 460px;
    width: 380px;
    padding: 42px;
    /* border: 2px solid black; */
    font-family: Montserrat;
}